node_modules
/dist
/src/main/resources/generatorConfig.xml

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.factorypath

######################
# Intellij
######################
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
*.log
*.zip
######################
# Maven
######################
/log/
/target/


